{
  "extends": [
    "jibrelnetwork"
  ],
  "rules": {
    "fp/no-mutation": [2, {
      "commonjs": true,
      "allowThis": true,
      "exceptions": [
        { "property": "onabort" },
        { "property": "onerror" },
        { "property": "onsuccess" },
        { "property": "onblocked" },
        { "property": "oncomplete" }
      ]
    }],
    "fp/no-class": 0,
    "no-use-before-define": 0,
    "react/prefer-stateless-function": 0
  }
}
